<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
    <!-- Add any additional styling or CSS links here -->
</head>
<body>

<h2>Student Data</h2>

<table border="1">
    <thead>
        <tr>
            <th>name</th>
            <th>rollno</th>
            <th>email</th>
        </tr>
    </thead>
    <tbody>
        {% for st in students %}
            <tr>
                <td>{{ st.name }}</td>
                <td>{{ st.rollno }}</td>
                <td>{{ st.email }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
